doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        # For SQLite:
        # path: '%kernel.project_dir%/var/data.db'
        # driver: 'pdo_sqlite'

    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App